.main .post-entry:active {
        -webkit-transform: scale(.96);
    transform: scale(.96);
    transition: -webkit-transform .1s;
    transition: transform .1s;
    transition: transform .1s,-webkit-transform .1s
}

mjx-container {
    overflow-y: hidden;
    overflow-x: scroll;
}

